[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Machiel Keizer-Groeneveld
	email = 309370+machielg@users.noreply.github.com
[init]
	defaultBranch = main
[credential]
	helper = 
	helper = {{ if eq .chezmoi.os "darwin" }}manager{{ else }}libsecret{{ end }}
[credential "https://dev.azure.com"]
	useHttpPath = true
