#!/bin/bash

{{ if eq .chezmoi.os "darwin" -}}
# Install Homebrew if not installed
if ! command -v brew &> /dev/null; then
    echo "Installing Homebrew..."
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

# Install from Brewfile
echo "Installing Homebrew packages..."
brew bundle --file={{ .chezmoi.sourceDir }}/Brewfile
{{ end -}}
