[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Machiel Keizer-Groeneveld
{{- if eq .machine_type "htc" }}
	email = m.keizer-groeneveld@humantotalcare.nl
{{- else if eq .machine_type "linkit" }}
	email = machiel.keizer-groeneveld@linkit.nl
{{- else }}
	email = 309370+machielg@users.noreply.github.com
{{- end }}
[init]
	defaultBranch = main
[credential "https://dev.azure.com"]
	useHttpPath = true
{{- if ne .chezmoi.os "darwin" }}
[credential]
	helper =
	helper = libsecret
{{- end }}
